/* Begin CSS Reset code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* End CSS Reset code */

@font-face {
    font-family: "helveticaneue-thin";
    src: url("fonts/helveticaneue-thin-13-webfont.woff") format('woff'),
         url("fonts/helveticaneue-thin-13-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "helveticaneue-bold";
    src: url("fonts/HelveticaNeue-CondensedBold.woff") format('woff'),
         url("fonts/HelveticaNeue-CondensedBold.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "helveticaneue-italic";
    src: url("fonts/HelveticaNeue-Italic.woff") format('woff'),
         url("fonts/HelveticaNeue-Italic.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "helveticaneue-Thinitalic";
    src: url("fonts/HelveticaNeue-ThinItalic.woff") format('woff'),
         url("fonts/HelveticaNeue-ThinItalic.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "helveticaneue";
    src: url("fonts/HelveticaNeue.woff") format('woff'),
         url("fonts/HelveticaNeue.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
	position: fixed;
	font-family: "helveticaneue-thin";
}

	b {
		font-family: "helveticaneue";
		font-size: 2.25vmin;
	}

	bb {
		font-family: "helveticaneue-bold";
		text-transform: uppercase;
		font-size: 2.25vmin;
	}

	em {
		font-family: "helveticaneue-italic";
		baseline-shift: -12px;
	}

#menu_icon {
	position: fixed;
	height: 10%;
	width: 2.5%;

	left: 0;

	outline: 2px solid black;
	outline-offset: -1px;
	background-color: black;
	z-index: 99;
}

	#icon {
		width: 50%;
		height: 50%;
		top: 0; bottom: 0; right: 0; left: 0; margin: auto;
		position: absolute;
		filter: invert(100%);
	}

		#menu_icon:hover {
			animation: invert_menu .5s forwards;
		}

			@keyframes invert_menu {
				0% {background-color: black;}
				100% {background-color: white;}
			}

		#menu_icon:hover > #icon {
			animation: invert_button .5s forwards;
		}

			@keyframes invert_button {
				0% {filter: invert(100%);}
				100% {filter: invert(0%);}
			}

/*//////////*/

	#right_white_box, #left_white_box {
		position: fixed;
		top: calc(10% + 1px);
		height: calc(90% - 2.5vw - 2px);
		width: calc(5vh);
		background-color: white;
		z-index: 101;
	}

		#right_white_box {
			right: 1px;
		}

		#left_white_box {
			left: calc(30% + 1px);
		}

/*//////////*/

	button {
		border: none;
	}

		.forward_BOX, .back_BOX {
				position: absolute;
				height: 2.5vw;
				width: 5vh;
				outline: 2px solid black;
				outline-offset: -1px;

				bottom: 0;
				background-color: black;
			}

		.forward_arrow, .back_arrow {
			width: 50%;
			height: 50%;
			top: 0; bottom: 0; right: 0; left: 0; margin: auto;
			position: absolute;
			filter: invert(100%);
		}

				.forward_BOX {
					right: 0;
				}

					.forward_BOX:hover {
						animation: invert_menu .5s forwards;
					}

					.forward_BOX:hover > .forward_arrow {
						animation: invert_button .5s forwards;
					}

				.back_BOX {
					left: -2;
				}

					.back_BOX:hover {
						animation: invert_menu .5s forwards;
					}

					.back_BOX:hover > .back_arrow {
						animation: invert_button .5s forwards;
					}

/*//////////*/

#logo_bar, #title_sec, #description_sec, #content_sec {
	position: fixed;
	display: inline-block;
	outline: 1px solid black;
	outline-offset: -1px;

	overflow: scroll;
}

	#logo_bar {
		width: calc(60% - 2.5%);
		height: 10%;
		top: 0;
		left: 2.5%;
		z-index: 100;
	}

		#logo {
			position: absolute;
			top: 0; bottom: 0; right: 0; left: 0; margin: auto;
			max-height: 90%;
			max-width: 85%;
		}

	#title_sec {
		width: 40%;
		height: 10%;
		top: 0;
		left: calc(60%);
	}

		div.title_box {
			position: relative;
			height: 100%;
			width: calc(100% - 1vmax);
			overflow: hidden;
			display: table;
		}

			div.title {
				height: 100%;
				width: 100%;

				font-family: "helveticaneue-bold";
				text-transform: uppercase;
				font-size: 3.5vmin;


				display: table-cell;
				text-align: right;				
				vertical-align: middle;
			}

	#description_sec {
		position: fixed;
		width: 30%;
		height: 90%;
		top: 10%;
		left: 0;
	}

		div.description_box {
			position: relative;
			display: table;
			height: 100%;
			width: 100%;
		}

			div.description {
				width: 100%;
				display: table-cell;
				font-size: 1.75vmin;
				padding: 7.5%;

				vertical-align: middle;
			}

	#content_sec {
		position: fixed;
		width: 70%;
		height: 90%;
		top: 10%;
		left: 30%;
	}

		div.content_box {
			position: relative;
			display: table;
			height: 100%;
			width: 100%;
			z-index: -1;
		}

			div.content_sub_box {
				position: absolute;
				width: 100%;
				height: 100%;
				display: table-cell;
				vertical-align: middle;
			}

			img.content {
				position: absolute;
				top: -2.5vw; bottom: 0; left: 0; right: 0; margin: auto;
				max-height: calc(100% - 10vw);
				max-width: calc(100% - 10vh);
			}

#content_sec, #description_sec, #title_sec, #alt_content_sec {
	-webkit-overflow-scrolling: touch;
 	-webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
 	-webkit-scroll-snap-destination: 100% 0%;
    -ms-scroll-snap-destination: 100% 0%;
        scroll-snap-destination: 100% 0%;
  	-webkit-scroll-snap-points-y: repeat(100%);
    -ms-scroll-snap-points-y: repeat(100%);
        scroll-snap-points-y: repeat(100%);
}

	div.title_box, div.description_box, div.content_box, div.alt_content {
		scroll-snap-align: start;
		-webkit-transition: all 0.1s ease-out;
 		transition: all 0.1s ease-out;
	}

	div::-webkit-scrollbar { 
		width: 0;
		height: 0;
	}

	/* Track */
	div::-webkit-scrollbar-track {
	    opacity: 0;
	}

	/* Handle */
	div::-webkit-scrollbar-thumb {
	    opacity: 0;
	}

/*//////////*/

		

div#alt_body {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 98;
}

	.alt {
		position: fixed;
		display: inline-block;


		outline: 1px solid white;
		outline-offset: -1px;

		overflow: scroll;
	}

	div.alt_content_box {
			position: relative;
			width: 100%;
		}

			div.alt_content {
				display: inline-block;
				position: relative;
				vertical-align: middle;
				height: 100%;
			}

			div.alt_description {
				width: 100%;
				display: table-cell;
				font-size: 1.75vmin;
				padding: 9%;

				vertical-align: middle;
				color: white;
			}

			a {
				text-decoration: none;
				color: cyan;
			}

		#right_white_box.toggled, #left_white_box.toggled {
			display: none;
		}

		#menu_icon.toggled {
			transition: all .6s;
			left: calc(100% - 5%);
			outline: 2px solid white;
			outline-offset: -1px;
			height: 10%;
			width: 5%;
		}

		#logo_bar.expanded {
			transition: width .6s;
			width: calc(100% - 5%);
			left: 0;
			outline: 1px solid white;
			outline-offset: -1px;

			background: linear-gradient(155deg, #00ffbd, #00ff32, #00beff, #baff00, #feff00, #ffa600, #ff1f00, #ff00a0, #aa00ff, #2300ff, #00b3ff);
			background-size: 2200% 2200%;
			animation: gradColor 20s linear infinite;
		}
		
			@keyframes gradColor { 
				0%{background-position:0% 50%}
				50%{background-position:100% 50%}
				100%{background-position:0% 50%}
			}

	#alt_description_sec {
		position: absolute;
		width: 30%;
		height: 90%;
		top: 10%;
		left: 0;
	}

	#alt_content_sec {
		width: 70%;
		height: 90%;
		top: 10%;
		left: 30%;
	}

/*//////////*/

/*	@media only screen and (max-width: 600px) {
		#logo_bar, #title_sec, #description_sec, #content_sec {
			position: relative;
			top: 0;
			left: 0;
			width: 100vw;
		}

		#description_sec {
			height: 40vh;
		}

		#content_sec {
			height: 40vh;
		}
	}

	@media only screen and (max-height: 300px) {
		body {
			display: none;
		}
	}*/

